
#login{
    background-image: url(homepage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    /* opacity: .5; */
    }

    #homepage{
        background-image: url(tree.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }
  
    h1{
      font-size: 100px;
      color: black;
      text-shadow: -1px 1px 2px #a84701,
              1px 1px 2px #a84701,
              1px -1px 0 #a84701,
              -1px -1px 0 #a84701;
    }

    .btn {
        background-color:rgb(233, 62, 0);
        color: black
    }

   .nav-link {
       font-size: 3rem;
       color: black;
   }

   .card-title {
    color:rgb(233, 62, 0),
   }

    *{
        color: black;
    }