
#login{
    background-image: url(homepage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    /* opacity: .5; */
    }

    #homepage{
        background-image: url(HomePage2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }

    #projectlist{
        background-image: url(ProjectList.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }

    #projectpage{
        background-image: url(ProjectPage.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }

    #climbpage{
        background-image: url(ClimbPage.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }

    #workoutplan{
        background-image: url(WorkoutPlan.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }

    #workoutsession{
        background-image: url(WorkoutSession.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }

    #exercisepage{
        background-image: url(ExercisePage.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }

    .table{
        width: 90%;
    }

    h1{
      font-size: 100px;
      color: black;
      text-shadow: -1px 1px 2px #a84701,
              1px 1px 2px #a84701,
              1px -1px 0 #a84701,
              -1px -1px 0 #a84701;
    }

    .btn {
        background-color:rgb(233, 62, 0);
        color: black
    }

   .nav-link {
       font-size: 3rem;
       color: white;
   }

   /* .navbar-brand {
    color:rgb(233, 62, 0),
   } */

   .card-title {
    color:rgb(233, 62, 0),
   }

    *{
        color: black;
    }